<div id="audience-stage" class="stage">

<div id="lineSection1"><div class="lineSectionInnerWrap">
<div style="top:0; right:12px; width:100%;" class="barHorizSmall"></div>
<div style="top:0; right:0; z-index:2;" class="barCurveRD"></div>
<div style="top:15px; right:0; height:100%;" class="barVertSmall"></div>
</div></div>

<div class="engage_anchor" style="">
<div class="engage_section" style="">

<img id="headimg" src="images/engageHead.png" style="top:0; left:90px; position:absolute;" />
<img id="gear1img" src="images/gear1.png" style="top:135px; left:201px; position:absolute;" />
<img id="gear2img" src="images/gear2.png" style="top:83px; left:240px; position:absolute;" />
<img id="gear3img" src="images/gear3.png" style="top:109px; left:157px; position:absolute;" />
<img id="rayimg" src="images/engageRay.png" style="top:29px; left:368px; position:absolute;" />
<img id="screenimg" src="images/engageScreen.png" style="top:26px; left:758px; position:absolute;" />
<div class="engage_banner_pointer" style=""></div>

<div class="engage_banner" style="">
<img src="images/engageVertText.png" style="margin-top:16px; margin-left:33px;" />
<div class="engage_size" style=""><%=audiencePage.industrySize%></div>
<div class="engage_type" style="<%=audiencePage.industryTypeFontSize%>"><%=audiencePage.industryType%></div>



</div>
</div>
</div>

<div class="cash_section" style="">
<div class="cash_welcome_msg" style="">in an industry that spends over</div>
<div class="spacer-10px"></div>
<div class="cash_stack" style="">

<div id="lineSection2"><div class="lineSectionInnerWrap">
<div style="top:0; left:17px; width:100px;" class="barHorizSmall"></div>
<div style="top:0px; left:0; z-index:2;" class="barCurveLD"></div>
<div style="top:15px; left:0; height:1517px;" class="barVertSmall"></div>
<div style="bottom:0px; left:0; z-index:2;" class="barCurveDR"></div>
<div style="bottom:0px; left:15px; width:20px;" class="barHorizSmall"></div>
</div></div>

<div class="spacer-10px"></div>
<div class="spacer-25px"></div>
<div class="spacer-25px"></div>
<div class="spacer-25px"></div>
<div class="spacer-25px"></div>
<div class="industrySpend" style="">
<%=audiencePage.industrySpend%> ANNUALLY</div>

<div class="cash_summary" style="">
<div class="spacer-10px"></div><div class="spacer-10px"></div>
<table class="" style="width:100%; height:100%"><tr>
<td class="cash_summary_title" style="">WHILE TARGETING<BR />YOUR MESSAGE TO:</td>
<td style="vertical-align:top; text-align:left;" VALIGN="TOP">
<ul style="list-style-type:disc; color:#ffed5c; font-size:2.2em; vertical-align:top;">
<%=audiencePage.industryMembers%>
</ul>


</td>
</tr></table>
</div>
</div>



</div>


<div class="spacer-25px"></div>
<div class="spacer-25px"></div>
<div class="spacer-25px"></div>
<div class="spacer-25px"></div>

</div>
