<div id="benefits-stage" class="stage">

<div class="benefitsContainer">
	<div id="benefitBox1" class="benefit-box">
		<div id="benefitContent1" class="benefit-content">
		<div class="benefit-box-background-texure"></div>
			<div class="benefit-graphic">
				<img src="images/benefits/benefit1.png" class="benefit-image-large"/>
			</div>
			<div id="benefit1" class="benefit-copy">
				<h2>SITE DURATION</h2>
				<p>
				This is where some desciption of the benefit will go. Super-Happy fun times.
				</p>
				<img src="images/benefits/benefit1-small.png" class="benefit-image-small"/>
			</div>
		</div>
	</div>
	<div id="benefitBox2" class="benefit-box">
		<div id="benefitContent2" class="benefit-content">
			<div class="benefit-graphic">
				<img src="images/benefits/benefit2.png" class="benefit-image-large"/>
			</div>
			<div id="benefit2" class="benefit-copy">
				<h2>MOBILE FRIENDLY</h2>
				<p>
				This is where some desciption of the benefit will go. Super-Happy fun times.
				</p>
				<img src="images/benefits/benefit2-small.png" class="benefit-image-small"/>
			</div>
		</div>
	</div>
	<div id="benefitBox3" class="benefit-box">
		<div id="benefitContent3" class="benefit-content">
			<div class="benefit-graphic">
				<img src="images/benefits/benefit3.png" class="benefit-image-large"/>
			</div>
			<div id="benefit3" class="benefit-copy">
				<h2>AFFORDABLE</h2>
				<p>
				This is where some desciption of the benefit will go. Super-Happy fun times.
				</p>
				<img src="images/benefits/benefit3-small.png" class="benefit-image-small"/>
			</div>
		</div>
	</div>
	<div id="benefitBox4" class="benefit-box">
		<div id="benefitContent4" class="benefit-content">
			<div class="benefit-graphic">
				<img src="images/benefits/benefit4.png" class="benefit-image-large"/>
			</div>
			<div id="benefit4" class="benefit-copy">
				<h2>METRIC/REPORTING</h2>
				<p>
				This is where some desciption of the benefit will go. Super-Happy fun times.
				</p>
				<img src="images/benefits/benefit4-small.png" class="benefit-image-small"/>
			</div>
		</div>
	</div>
	<div id="benefitBox5" class="benefit-box">
		<div id="benefitContent5" class="benefit-content">
			<div class="benefit-graphic">
				<img src="images/benefits/benefit5.png" class="benefit-image-large"/>
			</div>
			<div id="benefit5" class="benefit-copy">
				<h2>COMPLIMENTARY<br/>CREATIVE SERVICES</h2>
				<p>
				This is where some desciption of the benefit will go. Super-Happy fun times.
				</p>
				<img src="images/benefits/benefit5-small.png" class="benefit-image-small"/>
			</div>
		</div>
	</div>
	<div id="benefitBox6" class="benefit-box">
		<div id="benefitContent6" class="benefit-content">
			<div class="benefit-graphic">
				<img src="images/benefits/benefit6.png" class="benefit-image-large"/>
			</div>
			<div id="benefit6" class="benefit-copy">
				<h2>EXTENSIVE LIBRARY<br/>OF CONTENT</h2>
				<p>
				This is where some desciption of the benefit will go. Super-Happy fun times.
				</p>
				<img src="images/benefits/benefit6-small.png" class="benefit-image-small"/>
			</div>
		</div>
	</div>
	<div id="benefitBox7" class="benefit-box">
		<div id="benefitContent7" class="benefit-content">
			<div class="benefit-graphic">
				<img src="images/benefits/benefit7.png" class="benefit-image-large"/>
			</div>
			<div id="benefit7" class="benefit-copy">
				<h2>B2B ACCESS</h2>
				<p>
				This is where some desciption of the benefit will go. Super-Happy fun times.
				</p>
				<img src="images/benefits/benefit7-small.png" class="benefit-image-small"/>
			</div>
		</div>
	</div>
	<div id="benefitBox8" class="benefit-box">
		<div id="benefitContent8" class="benefit-content">
			<div class="benefit-graphic">
				<img src="images/benefits/benefit8.png" class="benefit-image-large"/>
			</div>
			<div id="benefit8" class="benefit-copy">
				<h2>CREDIBLE<br/>PARTNERSHIP</h2>
				<p>
				This is where some desciption of the benefit will go. Super-Happy fun times.
				</p>
				<img src="images/benefits/benefit8-small.png" class="benefit-image-small"/>
			</div>
		</div>
	</div>
	<div id="benefitBox9" class="benefit-box">
		<div id="benefitContent9" class="benefit-content">
			<div class="benefit-graphic">
				<img src="images/benefits/benefit9.png" class="benefit-image-large"/>
			</div>
			<div id="benefit9" class="benefit-copy">
				<h2>FLEXIBLE MODIFICATION</h2>
				<p>
				This is where some desciption of the benefit will go. Super-Happy fun times.
				</p>
				<img src="images/benefits/benefit9-small.png" class="benefit-image-small"/>
			</div>
		</div>
	</div>
</div>

</div>
