<div id="benefits-stage" class="stage">

<div class="benefitsContainer">
	<div id="benefitBox1" class="benefit-box">
		<div id="benefitContent1" class="benefit-content">
			<div id="sprite1" class="benefit-graphic sprite-benefit1-off"></div>
			<div class="benefit-copy">
			<h2>SITE DURATION</h2>
			</div>
			<div class="benefit-content-blurb">
			<h3>SITE DURATION</h3>
			<img src="images/benefits/benefit1-small.png" class="benefit-image-small"/>
				<p>
					This is where some desciption of the benefit will go. Super-Happy fun times.
				</p>
			</div>
		</div>
	</div>
	<div id="benefitBox2" class="benefit-box">
		<div id="benefitContent2" class="benefit-content">
			<div id="sprite2" class="benefit-graphic sprite-benefit2-off"></div>
			<div class="benefit-copy">
			<h2>MOBILE FRIENDLY</h2>
			</div>
			<div class="benefit-content-blurb">
			<h3>MOBILE FRIENDLY</h3>
			<img src="images/benefits/benefit2-small.png" class="benefit-image-small"/>
				<p>
					This is where some desciption of the benefit will go. Super-Happy fun times.
				</p>
			</div>
		</div>
	</div>
	<div id="benefitBox3" class="benefit-box">
		<div id="benefitContent3" class="benefit-content">
			<div id="sprite3" class="benefit-graphic sprite-benefit3-off"></div>
				<div class="benefit-copy">
				<h2>AFFORDABLE</h2>
				</div>
				<div class="benefit-content-blurb">
				<h3>AFFORDABLE</h3>
				<img src="images/benefits/benefit3-small.png" class="benefit-image-small"/>
					<p>
						This is where some desciption of the benefit will go. Super-Happy fun times.
					</p>
				</div>
		</div>
	</div>
	<div id="benefitBox4" class="benefit-box">
		<div id="benefitContent4" class="benefit-content">
			<div id="sprite4" class="benefit-graphic sprite-benefit4-off"></div>
				<div class="benefit-copy">
				<h2>METRIC/REPORTING</h2>
				</div>
				<div class="benefit-content-blurb">
				<h3>METRICS/REPORTING</h3>
				<img src="images/benefits/benefit4-small.png" class="benefit-image-small"/>
				<p>
				This is where some desciption of the benefit will go. Super-Happy fun times.
				</p>
			</div>
		</div>
	</div>
	<div id="benefitBox5" class="your-benefits-animation">
			<img src="images/benefits/your.png" id="benefitsText_Your"/>
			<img src="images/benefits/benefits.png" id="benefitsText_Benefits"/>
	</div>
	<div id="benefitBox6" class="benefit-box">
		<div id="benefitContent6" class="benefit-content">
			<div id="sprite6" class="benefit-graphic sprite-benefit6-off"></div>
			<div class="benefit-copy">
				<h2>EXTENSIVE MEDIA LIBRARY</h2>
			</div>
			<div class="benefit-content-blurb">
				<h3>EXTENSIVE MEDIA LIBRARY</h3>
				<img src="images/benefits/benefit6-small.png" class="benefit-image-small"/>
				<p>
				This is where some desciption of the benefit will go. Super-Happy fun times.
				</p>
			</div>
		</div>
	</div>
	<div id="benefitBox7" class="benefit-box">
		<div id="benefitContent7" class="benefit-content">
			<div id="sprite7" class="benefit-graphic sprite-benefit7-off"></div>
			<div class="benefit-copy">
				<h2>B2B ACCESS</h2>  
			</div>
			<div class="benefit-content-blurb">
				<h3>B2B ACCESS</h3>
				<img src="images/benefits/benefit7-small.png" class="benefit-image-small"/>
				<p>
				This is where some desciption of the benefit will go. Super-Happy fun times.
				</p>
			</div>
		</div>
	</div>
	<div id="benefitBox8" class="benefit-box">
		<div id="benefitContent8" class="benefit-content">
		<div id="sprite8" class="benefit-graphic sprite-benefit8-off"></div>
			<div class="benefit-copy">
				<h2>ASSOCIATION CREDIBILITY</h2>
			</div>
			<div class="benefit-content-blurb">
				<h3>ASSOCIATION CREDIBILITY</h3>
				<img src="images/benefits/benefit8-small.png" class="benefit-image-small"/>
				<p>
				This is where some desciption of the benefit will go. Super-Happy fun times.
				</p>
			</div>
		</div>
	</div>
	<div id="benefitBox9" class="benefit-box">
		<div id="benefitContent9" class="benefit-content">
		<div id="sprite9" class="benefit-graphic sprite-benefit9-off"></div>
			<div class="benefit-copy">
				<h2>CREATIVE SERVICES</h2>
			</div>
			<div class="benefit-content-blurb">
				<h3>CREATIVE SERVICES</h3>
				<img src="images/benefits/benefit9-small.png" class="benefit-image-small"/>
				<p>
				This is where some desciption of the benefit will go. Super-Happy fun times.
				</p>
			</div>
		</div>
	</div>
</div>

</div>
