<section id="benefits-stage" class="stage">
<div id="presentationPrev" class="pres-arrow"><a><img src="images/presentation_arrow_left.png"/></a></div>
<div id="presentationNext" class="pres-arrow"><a><img src="images/presentation_arrow_right.png"/></a></div>
<h1>Do you like awesome benefits?</h1>

<div class="benefitsContainer">
	<div id="benefitBox1" class="benefit-box">
		<div id="benefitContent1" class="benefit-content">
			<div class="benefit-graphic">
				<img src="images/benefits/benefit1.png" class="benefit-image"/>
			</div>
			<div id="benefit1" class="benefit-copy">
				<h2>Benefit 1</h2>
				<p>
				This is where some desciption of the benefit will go. Super-Happy fun times.
				</p>
				<img src="images/benefits/benefit1-small.png" class="benefit-image-small"/>
			</div>
		</div>
	</div>
	<div id="benefitBox2" class="benefit-box">
		<div id="benefitContent2" class="benefit-content">
			<div class="benefit-graphic">
				<img src="images/benefits/benefit2.png" class="benefit-image"/>
			</div>
			<div id="benefit2" class="benefit-copy">
				<h2>Benefit 2</h2>
				<p>
				This is where some desciption of the benefit will go. Super-Happy fun times.
				</p>
				<img src="images/benefits/benefit2-small.png" class="benefit-image-small"/>
			</div>
		</div>
	</div>
	<div id="benefitBox3" class="benefit-box">
		<div id="benefitContent3" class="benefit-content">
			<div class="benefit-graphic">
				<img src="images/benefits/benefit3.png" class="benefit-image"/>
			</div>
			<div id="benefit3" class="benefit-copy">
				<h2>Benefit 3</h2>
				<p>
				This is where some desciption of the benefit will go. Super-Happy fun times.
				</p>
				<img src="images/benefits/benefit3-small.png" class="benefit-image-small"/>
			</div>
		</div>
	</div>
	<div id="benefitBox4" class="benefit-box">
		<div id="benefitContent4" class="benefit-content">
			<div class="benefit-graphic">
				<img src="images/benefits/benefit4.png" class="benefit-image"/>
			</div>
			<div id="benefit4" class="benefit-copy">
				<h2>Benefit 4</h2>
				<p>
				This is where some desciption of the benefit will go. Super-Happy fun times.
				</p>
				<img src="images/benefits/benefit4-small.png" class="benefit-image-small"/>
			</div>
		</div>
	</div>
	<div id="benefitBox5" class="benefit-box">
		<div id="benefitContent5" class="benefit-content">
			<div class="benefit-graphic">
				<img src="images/benefits/benefit5.png" class="benefit-image"/>
			</div>
			<div id="benefit5" class="benefit-copy">
				<h2>Benefit 5</h2>
				<p>
				This is where some desciption of the benefit will go. Super-Happy fun times.
				</p>
				<img src="images/benefits/benefit5-small.png" class="benefit-image-small"/>
			</div>
		</div>
	</div>
	<div id="benefitBox6" class="benefit-box">
		<div id="benefitContent6" class="benefit-content">
			<div class="benefit-graphic">
				<img src="images/benefits/benefit6.png" class="benefit-image"/>
			</div>
			<div id="benefit6" class="benefit-copy">
				<h2>Benefit 6</h2>
				<p>
				This is where some desciption of the benefit will go. Super-Happy fun times.
				</p>
				<img src="images/benefits/benefit6-small.png" class="benefit-image-small"/>
			</div>
		</div>
	</div>
	<div id="benefitBox7" class="benefit-box">
		<div id="benefitContent7" class="benefit-content">
			<div class="benefit-graphic">
				<img src="images/benefits/benefit7.png" class="benefit-image"/>
			</div>
			<div id="benefit7" class="benefit-copy">
				<h2>Benefit 7</h2>
				<p>
				This is where some desciption of the benefit will go. Super-Happy fun times.
				</p>
				<img src="images/benefits/benefit7-small.png" class="benefit-image-small"/>
			</div>
		</div>
	</div>
	<div id="benefitBox8" class="benefit-box">
		<div id="benefitContent8" class="benefit-content">
			<div class="benefit-graphic">
				<img src="images/benefits/benefit8.png" class="benefit-image"/>
			</div>
			<div id="benefit8" class="benefit-copy">
				<h2>Benefit 8</h2>
				<p>
				This is where some desciption of the benefit will go. Super-Happy fun times.
				</p>
				<img src="images/benefits/benefit8-small.png" class="benefit-image-small"/>
			</div>
		</div>
	</div>
	<div id="benefitBox9" class="benefit-box">
		<div id="benefitContent9" class="benefit-content">
			<div class="benefit-graphic">
				<img src="images/benefits/benefit9.png" class="benefit-image"/>
			</div>
			<div id="benefit9" class="benefit-copy">
				<h2>Benefit 9</h2>
				<p>
				This is where some desciption of the benefit will go. Super-Happy fun times.
				</p>
				<img src="images/benefits/benefit9-small.png" class="benefit-image-small"/>
			</div>
		</div>
	</div>
</div>

</section>
