<div id="contact-stage" class="stage">
	<div id="contact-wrap">
		<div id="contactHeaderMain">
			<div id="contactHeaderOrange">
				<h2 class="contact-header">CONTACT</h2>
				<h2 class="contact-header-sub">A MULTIVIEW<BR/>PROFESSIONAL</h2>
			</div>
			<div class="contact-orange-triangle">
				<img src="images/orange_triangle.png"/>
			</div>
    	</div>
    	<div id="contactInfo">
	    <div id="contactInfoLeft">
		    <h2 class="contact-info">MULTIVIEW SALES</h2>
			<p class="contact-p contact-sub-text-left">phone: 972.402.7070</p>
			<p class="contact-p contact-sub-text-left" style="margin: 0px;">email: <a href="#">sales@multiview.com</a></p>
		</div>
		<div id="contactInfoRight">
			<h2 class="contact-info">MULTIVIEW SUPPORT</h2>
			<p class="contact-p contact-sub-text-right">phone: 972.402.7070</p>
			<p class="contact-p contact-sub-text-right" style="margin: 0px;">email: <a href="#">support@multiview.com</a></p>
		</div>
	</div>
	</div>
</div>
