<header id="header-main" class="header">
	<div class="header-contents">
		<div class="logo-main"><a href="<%=llcURL%>"><img style="border:0" src="<%=logo%>" /></a></div>
		<div class="title-main"><%=llcName%></div>
		<nav id="inventory-nav-main" class="nav-main">
			<ul>
				<li><a class="slideChange" rel="audience" id="audience_mainNav">Audience</a></li>
				<li><a class="slideChange" rel="benefits" id="benefits_mainNav">Benefits</a></li>
				<li><a class="slideChange" rel="inventory" id="inventory_mainNav">Inventory</a></li>
				<li><a class="slideChange" rel="pricing" id="pricing_mainNav">Plans &#38; Pricing</a></li>
				<li><a class="slideChange" rel="contact" id="getStarted_mainNav">Get Started</a></li>
			</ul>	
		</nav>
	</div>
<div class="header-edge-pointer"></div>
</header>