<header id="header-main" class="header">
	<div style="<%=headerWidth%>" class="header-contents">
	<table style="width:100%;" CELLPADDING=0 CELLSPACING=0><tr><td style="" valign="bottom">
		<div class="logo-main"><a href="<%=llcURL%>"><img class="logo-main-img" style="border:0; <%=logoPaddingTop%>; <%=logoPaddingLeft%>;" src="<%=logo%>" /></a></div></td>
		<td valign="bottom"><a style="text-decoration:none;" href="<%=llcURL%>"><div class="title-main"><%=llcName%></div></a></td>
		<td><nav id="inventory-nav-main" class="nav-main">
			<ul>
				<li><a class="slideChange" rel="audience" id="audience_mainNav">Audience</a></li>
				<li><a class="slideChange" rel="benefits" id="benefits_mainNav">Benefits</a></li>
				<li><a class="slideChange" rel="inventory" id="inventory_mainNav">Inventory</a></li>
				<li><a class="slideChange" rel="pricing" id="pricing_mainNav">Plans &#38; Pricing</a></li>
				<li><a class="slideChange" rel="contact" id="getStarted_mainNav">Get Started</a></li>
			</ul>	
		</nav>
		</td></tr></table>
	</div>
<div class="header-edge-pointer"></div>
</header>