<div id="inventory-stage" class="stage">
<div id="slideContainer">
<div class="welcome-message">
<h1>EXPLORE ADVERTISING<BR />OPPORTUNITIES</h1>
<table style="margin-left:0;" CELLPADDING=0 CELLSPACING=0>
<tr><td><h2>by clicking the </h2></td><td style="padding-left:2px; width:30px;text-align:center;"><div class="glowingIcon"></div></td><td><h2> icons on the tablet</h2></td></tr>
<tr><td colspan=3><h2>or by using the navigation<br />buttons below</h2></td></tr>
</table>
		<div class="nav-sub">
			<div id="subnav_full_campaign" class="nav-btn" style="display: <%=inventoryPage.adFullCampaign.display%>;">FULL CAMPAIGN</div>
			<div id="subnav_top_leaderboard" class="nav-btn" style="display: <%=inventoryPage.adTopLeaderboard.display%>;">TOP LEADERBOARD</div>
			<div id="subnav_sponsored_media" class="nav-btn" style="display: <%=inventoryPage.adSponsoredMedia.display%>;">SPONSORED MEDIA</div>
			<div id="subnav_skyscraper" class="nav-btn" style="display: <%=inventoryPage.adSkyscraperL.display%>;">SKYSCRAPER</div>
			<div id="subnav_industry_partner" class="nav-btn" style="display: <%=inventoryPage.adBusinessSpotlight.display%>;">BUSINESS SPOTLIGHT</div>
			<div id="subnav_low_leaderboard" class="nav-btn" style="display: <%=inventoryPage.adLowLeaderboard.display%>;">BOTTOM LEADERBOARD</div>
		</div>
</div>
	<div id="ipadWrap" class="draggable">
	  <div id="ipad" style="">
	    <div id="ipadScreen">
	      <div id="homeScreen" class="draggable">
	        <%=inventoryPage.homeScreen%>
	        <a rel="" class="fancybox ad_full_campaign" href="#ad_full_campaign" style="width: 0; height: 0; overflow: hidden;">
	         <div class="glowingIcon"></div><span class="zoom"></span>
	        </a>
	        <a rel="" class="fancybox ad_top_leaderboard" href="#ad_top_leaderboard" style="display: <%=inventoryPage.adTopLeaderboard.display%>; width: <%=inventoryPage.adTopLeaderboard.width%>px; height: <%=inventoryPage.adTopLeaderboard.height%>px; left: <%=inventoryPage.adTopLeaderboard.left%>px; top: <%=inventoryPage.adTopLeaderboard.top%>px;">
	         <div class="glowingIcon"></div><span class="zoom"></span>
	        </a>
	        <a rel="ad_inventory" class="fancybox ad_sponsored_media" href="#ad_sponsored_media" style="display: <%=inventoryPage.adSponsoredMedia.display%>; width: <%=inventoryPage.adSponsoredMedia.width%>px; height: <%=inventoryPage.adSponsoredMedia.height%>px; left: <%=inventoryPage.adSponsoredMedia.left%>px; top: <%=inventoryPage.adSponsoredMedia.top%>px;">
	         <div class="glowingIcon"></div><span class="zoom"></span>
	        </a>
	        <a rel="ad_inventory" class="fancybox ad_skyscraper" href="#ad_skyscraper_L" style="display: <%=inventoryPage.adSkyscraperL.display%>; width: <%=inventoryPage.adSkyscraperL.width%>px; height: <%=inventoryPage.adSkyscraperL.height%>px; left: <%=inventoryPage.adSkyscraperL.left%>px; top: <%=inventoryPage.adSkyscraperL.top%>px;">
	          <div class="glowingIcon"></div><span class="zoom"></span>
	        </a>
	        <a rel="ad_inventory" class="fancybox ad_skyscraper" href="#ad_skyscraper_R" style="display: <%=inventoryPage.adSkyscraperR.display%>; width: <%=inventoryPage.adSkyscraperR.width%>px; height: <%=inventoryPage.adSkyscraperR.height%>px; left: <%=inventoryPage.adSkyscraperR.left%>px; top: <%=inventoryPage.adSkyscraperR.top%>px;">
	          <div class="glowingIcon"></div><span class="zoom"></span>
	        </a>
	        <a rel="ad_inventory" class="fancybox ad_industry_partner" href="#ad_industry_partner" style="display: <%=inventoryPage.adBusinessSpotlight.display%>; width: <%=inventoryPage.adBusinessSpotlight.width%>px; height: <%=inventoryPage.adBusinessSpotlight.height%>px; left: <%=inventoryPage.adBusinessSpotlight.left%>px; top: <%=inventoryPage.adBusinessSpotlight.top%>px;">
	          <div class="glowingIcon"></div><span class="zoom"></span>
	        </a>
	        <a rel="ad_inventory" class="fancybox ad_low_leaderboard" href="#ad_low_leaderboard" style="display: <%=inventoryPage.adLowLeaderboard.display%>; width: <%=inventoryPage.adLowLeaderboard.width%>px; height: <%=inventoryPage.adLowLeaderboard.height%>px; left: <%=inventoryPage.adLowLeaderboard.left%>px; top: <%=inventoryPage.adLowLeaderboard.top%>px;">
	          <div class="glowingIcon"></div><span class="zoom"></span>
	        </a>
	        <!-- Lightbox content -->
	        <div style="display:none">
	        	
	        	<div id="ad_full_campaign" class="inline-content">
	        	  <%=inventoryPage.adFullCampaignLightbox%>
	        	</div>
	        	
	        	<div id="ad_top_leaderboard" class="inline-content">
	        	  <%=inventoryPage.adTopLeaderboardLightbox%>
	        	</div>

	        	<div id="ad_sponsored_media" class="inline-content">
	        	  <%=inventoryPage.adSponsoredMediaLightbox%>
	        	</div>
	        	
	        	<div id="ad_skyscraper_L" style="width: 500px;" class="inline-content">
	        	  <%=inventoryPage.adSkyscraperLLightbox%>
	        	</div>
	        	
	        	<div id="ad_skyscraper_R" style="width: 500px;" class="inline-content">
	        	  <%=inventoryPage.adSkyscraperRLightbox%>
	        	</div>
	        	
	        	<div id="ad_industry_partner" class="inline-content">
	        	  <%=inventoryPage.adBusinessSpotlightLightbox%>
	        	</div>
	        	
	        	<div id="ad_low_leaderboard" class="inline-content">
	        	  <%=inventoryPage.adLowLeaderboardLightbox%>
	        	</div>
	        	
	        </div>
	        <!-- end Lightbox content -->
	      </div>
	    </div>
	   </div>
  	</div>
  </div>
</div>