<div id="pricing-stage" class="stage">
  <div id="pricing-wrap">
    <h1><img src="images/plans_pricing_title.png" alt="Plans and Pricing" /></h1>
    <div id="pricing-table">
      <div id="opt-one" class="option">
        <div class="info">
          <div class="title">
            <strong>Full Campaign</strong>
            <span class="price">$6,500</span>
          </div>
          <div class="desc">This provides you with a prominent listing that features your ads in multiple places. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio
          </div>
          <div class="buy"><a href="#"><img src="images/btn_reserve.png" alt="Reserve Now" /></a></div>
          <div class="specs">DIMENSIONS: <strong>728 x 90, 120 x 600, 120 x 90</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FORMAT: <strong>JPG, GIF, SWF</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SIZE: <strong>40KB (3)</strong></div>
        </div>
        <div class="bg"></div>
      </div>
      <div id="opt-two" class="option">
        <div class="info">
          <div class="title">
            <strong>Top LEADERBOARD</strong>
            <span class="price">$6,500</span>
          </div>
          <div class="desc">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio
          </div>
          <div class="buy"><a href="#"><img src="images/btn_reserve.png" alt="Reserve Now" /></a></div>
          <div class="specs">DIMENSIONS: <strong>728 x 90</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FORMAT: <strong>JPG, GIF, SWF</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SIZE: <strong>40KB</strong></div>
        </div>
        <div class="bg"></div>
      </div>
      <div id="opt-three" class="option">
        <div class="info">
          <div class="title">
            <strong>Skyscraper</strong>
            <span class="price">$6,500</span>
          </div>
          <div class="desc">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio
          </div>
          <div class="buy"><a href="#"><img src="images/btn_reserve.png" alt="Reserve Now" /></a></div>
          <div class="specs">DIMENSIONS: <strong>728 x 90</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FORMAT: <strong>JPG, GIF, SWF</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SIZE: <strong>40KB</strong></div>
        </div>
        <div class="bg"></div>
      </div>
      <div id="opt-four" class="option">
        <div class="info">
          <div class="title">
            <strong>Sponsored media</strong>
            <span class="price">$6,500</span>
          </div>
          <div class="desc">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio
          </div>
          <div class="buy"><a href="#"><img src="images/btn_reserve.png" alt="Reserve Now" /></a></div>
          <div class="specs">DIMENSIONS: <strong>728 x 90</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FORMAT: <strong>JPG, GIF, SWF</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SIZE: <strong>40KB</strong></div>
        </div>
        <div class="bg"></div>
      </div>
      <div id="opt-five" class="option">
        <div class="info">
          <div class="title">
            <strong>Industry Partner</strong>
            <span class="price">$6,500</span>
          </div>
          <div class="desc">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio
          </div>
          <div class="buy"><a href="#"><img src="images/btn_reserve.png" alt="Reserve Now" /></a></div>
          <div class="specs">DIMENSIONS: <strong>728 x 90</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FORMAT: <strong>JPG, GIF, SWF</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SIZE: <strong>40KB</strong></div>
        </div>
        <div class="bg"></div>
      </div>
      <div id="opt-six" class="option">
        <div class="info">
          <div class="title">
            <strong>Bottom LEADERBOARD</strong>
            <span class="price">$6,500</span>
          </div>
          <div class="desc">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio
          </div>
          <div class="buy"><a href="#"><img src="images/btn_reserve.png" alt="Reserve Now" /></a></div>
          <div class="specs">DIMENSIONS: <strong>728 x 90</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FORMAT: <strong>JPG, GIF, SWF</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SIZE: <strong>40KB</strong></div>
        </div>
        <div class="bg"></div>
      </div>
    </div>
  </div>
</div>