<div id="pricing-stage" class="stage">
  <div id="pricing-wrap">
    <h1><img src="images/plans_pricing_title.png" alt="Plans and Pricing" /></h1>
    <div id="pricing-table">
      <div id="opt-three" class="option">
        <div class="info">
          <div class="title">
            <strong><%=pricingPage.skyScraperName%></strong>
            <span class="price"><%=pricingPage.skyScraperPrice%></span>
          </div>
          <div class="desc"><%=pricingPage.skyScraperBlurb%>
          </div>
          <div class="buy"><a href="<%=pricingPage.reserveButtonLink%>"><img src="images/btn_reserve.png" alt="Reserve Now" /></a></div>
          <div class="specs">DIMENSIONS: <strong>728 x 90</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FORMAT: <strong>JPG, GIF, SWF</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SIZE: <strong>40KB</strong></div>
        </div>
        <div class="bg"></div>
      </div>
      <div id="opt-four" class="option">
        <div class="info">
          <div class="title">
            <strong><%=pricingPage.sponsorMediaName%></strong>
            <span class="price"><%=pricingPage.sponsorMediaPrice%></span>
          </div>
          <div class="desc"><%=pricingPage.sponsorMediaBlurb%>
          </div>
          <div class="buy"><a href="<%=pricingPage.reserveButtonLink%>"><img src="images/btn_reserve.png" alt="Reserve Now" /></a></div>
          <div class="specs">DIMENSIONS: <strong>728 x 90</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FORMAT: <strong>JPG, GIF</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SIZE: <strong>40KB</strong></div>
        </div>
        <div class="bg"></div>
      </div>
      <div id="opt-five" class="option">
        <div class="info">
          <div class="title">
            <strong><%=pricingPage.spotlightName%></strong>
            <span class="price"><%=pricingPage.spotlightPrice%></span>
          </div>
          <div class="desc"><%=pricingPage.spotlightBlurb%>
          </div>
          <div class="buy"><a href="<%=pricingPage.reserveButtonLink%>"><img src="images/btn_reserve.png" alt="Reserve Now" /></a></div>
          <div class="specs">DIMENSIONS: <strong>728 x 90</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FORMAT: <strong>JPG, GIF, SWF</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SIZE: <strong>40KB</strong></div>
        </div>
        <div class="bg"></div>
      </div>
      <div id="opt-six" class="option">
        <div class="info">
          <div class="title">
            <strong><%=pricingPage.lowerLeaderName%></strong>
            <span class="price"><%=pricingPage.lowerLeaderPrice%></span>
          </div>
          <div class="desc"><%=pricingPage.lowerLeaderBlurb%>
          </div>
          <div class="buy"><a href="<%=pricingPage.reserveButtonLink%>"><img src="images/btn_reserve.png" alt="Reserve Now" /></a></div>
          <div class="specs">DIMENSIONS: <strong>728 x 90</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FORMAT: <strong>JPG, GIF, SWF</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SIZE: <strong>40KB</strong></div>
        </div>
        <div class="bg"></div>
      </div>
    </div>
  </div>
  
  <div class="spacer-10px"></div>
	<div class="foot-note">All offers run for a period of one year</div>
	
</div>