<div id="audience-stage" style="overflow:hidden;" class="stage">

<div class="headSection">
<div class="inner">
<img id="headimg" src="/images/mediakit/engageHead2.png" style="top:0; left:107px; position:absolute;" />
<img id="gear1img" src="/images/mediakit/gear1.png" style="top:125px; left:211px; position:absolute;" />
<img id="gear2img" src="/images/mediakit/gear2.png" style="top:73px; left:250px; position:absolute;" />
<img id="gear3img" src="/images/mediakit/gear3.png" style="top:99px; left:167px; position:absolute;" />
<img id="rayimg" src="/images/mediakit/engageRay2.png" style="z-index:5;top:22px; left:385px; position:absolute;display:none;" />
<div class="screenImages">
	<div class="inner">
	<img class="screenimg active" src="/images/mediakit/engageScreen2.png" style="z-index:4; position:absolute;display:none;" />
	<img class="screenimg" src="/images/mediakit/engageScreen2b.png" style="z-index:3; position:absolute;display:none;" />
	<img class="screenimg" src="/images/mediakit/engageScreen2c.png" style="z-index:2; position:absolute;display:none;" />
	<img class="screenimg" src="/images/mediakit/engageScreen2d.png" style="z-index:1; position:absolute;display:none;" />
	</div>
</div>
</div>
</div>

<div class="blueRibbon" id="audience-ribbon">
	<div class="inner">
		<div class="ribbon_left">
			<table class="engage_table" CELLPADDING=0 CELLSPACING=0><tr>
			<td><div class="engage_size" style="<%=audiencePage.industrySizeFontSize%>"><%=audiencePage.industrySize%></div></td>
			<td><div class="engage_members_window">
					<div class="inner">
						<div class="spacer-10px"></div>
						<div class="engage_type" style="<%=audiencePage.industryTypeFontSize%>"><%=audiencePage.industryType%></div>
						<div class="spacer-10px"></div>
						<div class="spacer-10px"></div>
						<ul class="engage_members_list" style="<%=audiencePage.industryMembersFontSize%>; vertical-align:top;">
						<%=audiencePage.industryMembers%>
						</ul>
					</div>
			</div></td>
			</tr></table>
		</div>
		<div class="ribbon_center"></div>
		<div class="ribbon_right">
		<div class="industry_spend_msg" style="<%=audiencePage.introCopyFontSize%>"><%=audiencePage.introCopy%></div>
		<table class="spend_table" cellpadding=0 cellspacing=0><tr><td>
		<div class="industry_spend" style="<%=audiencePage.industrySpendFontSize%>"><%=audiencePage.industrySpend%><div class="industry_spend_mask"></div></div>
		</td><td>
		<div class="industrySpendDesc" style="<%=audiencePage.industrySpendDescFontSize%>"><%=audiencePage.industrySpendDesc%></div>
		</td></tr></table>
		</div>
	</div>
</div>


<div id="footer-section" class="">
<a href="<%=siteCopy.terms_url%>" style="<%=siteCopy.termsStyle%>" target="_blank"><%=siteCopy.terms_lang%></a> / <a href="<%=siteCopy.privacy_url%>" style="<%=siteCopy.privacyStyle%>" target="_blank"><%=siteCopy.privacy_lang%></a>
</div>
</div>
