<div id="contact-stage" class="stage">
	<div id="contact-wrap">
		<div id="contactHeaderMain">
			<div id="contactHeaderOrange">
				<img style="margin-left:19px; margin-top:18px;" src="/images/mediaKit/contactBubbleBox.png" />
			</div>
			<div class="contact-orange-triangle">
				<img src="/images/mediaKit/orange_triangle.png"/>
			</div>
    	</div>
    	<div id="contactInfo">
	    <div id="contactInfoLeft">
		    <h2 class="contact-info">MULTIVIEW SALES</h2>
			
			
			<p class="contact-p contact-sub-text-left" style="margin: 0px;">phone: 972.402.7070</p>
			<p class="contact-p contact-sub-text-left" style="margin: 0px;">email: <a href="<%=getStartedPage.salesEmailLink%>">sales@multiview.com</a></p>
			<p class="contact-p contact-sub-text-left" style="margin: 0px;">website: <a href="<%=getStartedPage.multiviewLink%>" target="_blank">www.multiview.com</a></p>
			<div class="spacer-10px"></div>
			<div class="contact-p-sub" style="margin: 0px;">Advertising opportunities are limited &mdash; contact us today!</div>
		</div>
		</div>
<div id="footer-section" style="bottom:95px;">
<a href="<%=siteCopy.terms_url%>" style="<%=siteCopy.termsStyle%>" target="_blank"><%=siteCopy.terms_lang%></a> / <a href="<%=siteCopy.privacy_url%>" style="<%=siteCopy.privacyStyle%>" target="_blank"><%=siteCopy.privacy_lang%></a>
</div>
	</div>
</div>
