/*
* HTML5 ? Boilerplate
*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*
* Detailed information about this CSS: h5bp.com/css
*
* ==|== normalize ==========================================================
*/


/* =============================================================================
HTML5 display definitions
========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
Base
========================================================================== */

/*
* 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
* 2. Force vertical scrollbar in non-IE
* 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
*/

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/*
* Remove text-shadow in selection highlight: h5bp.com/i
* These selection declarations have to be separate
* Also: hot pink! (or customize the background color to match your design)
*/

::-moz-selection { background: #333333; color: #fff; text-shadow: none; }
::selection {color: #333333; text-shadow: none; }


/* =============================================================================
Links
========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
Typography
========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
Lists
========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
Embedded content
========================================================================== */

/*
* 1. Improve image quality when scaled in IE7: h5bp.com/d
* 2. Remove the gap between images and borders on image containers: h5bp.com/e
*/

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
* Correct overflow not hidden in IE9
*/

svg:not(:root) { overflow: hidden; }


/* =============================================================================
Figures
========================================================================== */

figure { margin: 0; }


/* =============================================================================
Forms
========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
* 1. Correct color not inheriting in IE6/7/8/9
* 2. Correct alignment displayed oddly in IE6/7
*/

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
* 1. Correct font-size not inheriting in all browsers
* 2. Remove margins in FF3/4 S5 Chrome
* 3. Define consistent vertical alignment display in all browsers
*/

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
* 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
* 2. Correct inner spacing displayed oddly in IE6/7
*/

button, input { line-height: normal; *overflow: visible; }

/*
* Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
*/

table button, table input { *overflow: auto; }

/*
* 1. Display hand cursor for clickable form elements
* 2. Allow styling of clickable form elements in iOS
*/

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
* Consistent box sizing and appearance
*/

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
* Remove inner padding and border in FF3/4: h5bp.com/l
*/

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
* 1. Remove default vertical scrollbar in IE6/7/8/9
* 2. Allow only vertical resizing
*/

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid { }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
Tables
========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
Author(s): NJ/BV/MM ~MultiView 2012
========================================================================== */
body{margin:0;padding:0;background-color: #008dbc;}
.hidden{display:none;}
.slideChange{cursor:pointer}
.spacer-10px{clear:both;height:10px;}
.spacer-25px{clear:both;height:10px;}
#stage-anchor{
top:80px;
position:absolute;
width:100%;
padding:0;
min-width: 960px;
overflow: hidden;
}
.stage-bg-gradient{
/*position: absolute;
top: 40px;*/
}

#stage-lighting-effects { 
overflow: hidden; 
width: 100%; 
height: 100%; 
position: fixed; 
z-index: -1;
top: 0px; 
left: 0px; 
background: url(../images/bg_gradient.png) center no-repeat;
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.6)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: radial-gradient(center, ellipse cover,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0) 100%); /* W3C */
}
#temp-big-container{
padding:0;margin:0;position:absolute;
}
/* HEADER SECTION */
.header{
height:80px;
position:fixed;
background-color:#ffffff;
width:100%;
z-index:255;
top:0;
left:0;
}

.header-edge-pointer{
clear: both;
position: absolute;
width: 45px;
height: 24px;
left: 0px;
top: 80px;
background-image: url('../images/globalnav_pointer.png');
z-index: 1000;
}
.header-contents{
position: relative;
margin: auto;
width: 1000px;
height: 80px;
background-color: #ffffff;
overflow: hidden;
}
.header .logo-main{
position:absolute;
top:10px;
left:10px;
height:63px;
width:140px;
margin:left:20px;
margin-top:2px;
}
.header .logo-main img{
padding-right:10px;
}
.header .title-main{
position:absolute;
top:33px;
left:170px;
color:#4d4d4d;
font-size:2.0289em;
font-family:'Century Gothic';
}
.header .nav-main{
position:absolute;
left:460px;
top:44px;
}
.header .nav-main ul li{
display: inline;
list-style-type: none;
padding-right: 20px;
}
.header .nav-main ul li a{
font-family:'Myriad Pro';
color:#232323;
font-size:1.2576545em;
cursor:pointer;
}
.header .nav-main ul li a:hover{
color:#810d0e;
}
.header .logo-sub{
position:absolute;
top:44px;
left:970px;
width:160px;
height:22px;
}


/* STAGE SECTION */

.stage{
width:100%;
margin:0;
}
.pres-arrow{
position:fixed;
}
#presentationPrev{
width:64px;
height:87px;
background-image:url(../images/siteBackBtn.png);
background-position:0 0;
background-repeat:no-repeat;
left: 0px;
top:50%;
margin-top:-43px;
cursor: pointer;
z-index:789;
}
#presentationPrev:hover{
background-position:0 -87px;
}
#presentationNext{
width:64px;
height:87px;
background-image:url(../images/siteNextBtn.png);
background-position:0 0;
background-repeat:no-repeat;
width:64px;
height:87px;
right: 0px;
top:50%;
margin-top:-43px;
cursor: pointer;
z-index:789;
}
#presentationNext:hover{
background-position:0 -87px;
}
/**** AUDIENCE PAGE */
#audience-stage{
width:100%;
height:2995px;
/*background-color:black;*/
color:#ffffff;
}
/**** BENEFITS PAGE */
#benefits-stage{
color:#ffffff;
}
.your-benefits-animation{
display: block;
position: absolute;
width: 286px;
height: 200px;
overflow: hidden;
}
#benefitsText_Your{
position: absolute;
left: 30px;
top:30px;
}
#benefitsText_Benefits{
position: absolute;
left: 90px;
top: 30px;
}
#benefitsText_Explore{
position: absolute;
left: 90px;
top: 117px;
}
.benefitsContainer{
background-image: url(../images/benefits_trans_bg.png);
position: relative;
margin: auto;
width: 878px;
height: 620px;
}
.benefit-content{
background-image: url(../images/benefits/box-bg-gradient.png);
position: absolute;
left: 10px;
width: 266px;
height: 400px;
}
.benefit-copy{
position: absolute;
left: 0px;
top: 161px;
width: 266px;
height: 30px;
}
.benefit-content-blurb{
background-color: #ffffff;
position: absolute;
top: 200px;
left: -10px;
width: 286px;
height: 200px;
border: 0px;
}
.benefit-content-blurb p{
position: absolute;
left: 10px;
top: 50px;
margin: 0px;
color: #555555;
font-size: 10pt;
padding-right: 10px;
}
.benefit-graphic{
background-image: url(../images/benefits/csg-4f2a92e5839df.png);
position: absolute;
left: 72px;
top: 17px;
width: 122px;
height:117px;
overflow: hidden;
}
#benefitContent1 h2.rollover{color:#e59c4c}
#benefitContent2 h2.rollover{color:#746ea9}
#benefitContent3 h2.rollover{color:#6bbc72}
#benefitContent4 h2.rollover{color:#9a4647}
#benefitContent6 h2.rollover{color:#8fbedb}
#benefitContent7 h2.rollover{color:#8da7d8}
#benefitContent8 h2.rollover{color:#a89dd8}
#benefitContent9 h2.rollover{color:#ebbf4f}
.sprite-benefit1{ background-position: 0 0; width: 122px; height: 117px; } 
.sprite-benefit1-off{ background-position: 0 -167px; width: 122px; height: 117px; } 
.sprite-benefit2{ background-position: 0 -334px; width: 122px; height: 117px; } 
.sprite-benefit2-off{ background-position: 0 -501px; width: 122px; height: 117px; } 
.sprite-benefit3{ background-position: 0 -668px; width: 122px; height: 117px; } 
.sprite-benefit3-off{ background-position: 0 -835px; width: 122px; height: 117px; } 
.sprite-benefit4{ background-position: 0 -1002px; width: 122px; height: 117px; } 
.sprite-benefit4-off{ background-position: 0 -1169px; width: 122px; height: 117px; } 
.sprite-benefit5{ background-position: 0 -1336px; width: 266px; height: 140px; } 
.sprite-benefit6{ background-position: 0 -1526px; width: 122px; height: 117px; } 
.sprite-benefit6-off{ background-position: 0 -1693px; width: 122px; height: 117px; } 
.sprite-benefit7{ background-position: 0 -1860px; width: 122px; height: 117px; } 
.sprite-benefit7-off{ background-position: -316px 0; width: 122px; height: 117px; } 
.sprite-benefit8{ background-position: -316px -167px; width: 122px; height: 117px; } 
.sprite-benefit8-off{ background-position: -316px -334px; width: 122px; height: 117px; } 
.sprite-benefit9{ background-position: -316px -501px; width: 122px; height: 117px; } 
.sprite-benefit9-off{ background-position: -316px -668px; width: 122px; height: 117px; } 

/*.benefit-image-large{
position: absolute;
left: 72px;
top: 17px;
}*/
.benefit-image-small{
position: absolute;
left: 10px;
top: 10px;
}
.benefit-copy h2{
position: absolute;
display: block;
width: 266px;
top: 0px;
text-align: center;
font-family: "proxima-nova";
font-size: 14pt;
font-weight: 700;
margin: 0px;
color: #7d90a7;
}
.benefit-content h3{
position: absolute;
left: 40px;
top: 15px;
margin-top: 0px;
color: #7d90a7;
font-family: "proxima-nova";
font-size: 11pt;
}
.benefit-box{
cursor: pointer;
border: 1px solid #555555;
background-image: url(../images/benefits/benefit-bg.png);
display: block;
position: absolute;
width: 286px;
height: 200px;
overflow: hidden;
}
.benefit-box-background-texure{
width: 286px;
height: 400px;
background-image: url(../images/texture.png);
background-repeat: repeat-all;
}
.benefit-box-selected{
background-color: #eeeeee;
}
.benefit-box:hover{

}
#benefitBox1{
left: 10px;
top: 10px;
}
#benefitBox2{
left: 296px;
top: 10px;
}
#benefitBox3{
left: 582px;
top: 10px;
}
#benefitBox4{
left: 10px;
top: 210px;
}
#benefitBox5{
left: 296px;
top: 210px;
}
#benefitBox6{
left: 582px;
top: 210px;
}
#benefitBox7{
left: 10px;
top: 410px;
}
#benefitBox8{
left: 296px;
top: 410px;
}
#benefitBox9{
left: 582px;
top: 410px;
}
#benefitsTitle{
	position: absolute;
	top: 0px;
	left: 0px;
}

/**** INVENTORY PAGE */
#inventory-stage{
height:100%;
}
#inventory-stage .nav-sub{
display:none;
left:0em;
top:155px;
width:240px;
height:260px;
-moz-border-radius-topleft:2px;
-moz-border-radius-bottomleft:2px;
-webkit-border-top-left-radius: 2px;
-webkit-border-bottom-left-radius: 2px;
-khtml-bottom-left-border-radius: 2px;
-khtml-border-bottom-left-radius: 2px;
border-top-left-radius: 2px;
border-bottom-left-radius: 2px;
background:transparent;
text-align:right;
padding:2px 2px 2px 0px;
z-index:100;
cursor:pointer;
position:absolute;
}
#inventory-stage .nav-sub .nav-btn{
width:240px;
height:35px;
font-family:"proxima-nova";
color:#ffffff;
font-size:1.288em;
font-weight:800;
vertical-align:middle;
text-align:center;
padding:5px 6px 0 6px;
margin-bottom:8px;
line-height:2em;
background-image:url(../images/transgray3.png);
cursor:pointer;
z-index:101;
}
#inventory-stage .nav-sub .nav-btn:hover{
background-color:#f7a827 !important;
}
#inventory-stage .nav-sub .nav-active{
width:238px;
height:33px;
background-color:#f7a827 !important;
border:1px solid #fbca43;
}

#inventory-stage .welcome-message{
width:825px;
left:16.307em;
top:8.71em;
text-align:left;
position:absolute;
}
#inventory-stage .welcome-message h1{
padding:0;
font-family:"proxima-nova", Gadget;
font-weight:900;
font-size:2.054em;
color:#ffffff;
line-height:1.30em;
margin:0;
}
#inventory-stage .welcome-message h2{
padding:2px;
font-family:"proxima-nova", Gadget;
font-size:1.11em;
color:#ffffff;
line-height:1.60em;
margin:0;
}
#inventory-stage .welcome-message  table td{
vertical-align:middle;
}
#inventory-stage .welcome-graphic{
width:115px;
height:56px;
background-image:url(../images/goldDownArrow.png);
margin-left:auto;
margin-right:auto;
}
  
#slideContainer { width: 100%; position: relative; overflow: hidden; cursor: move;

/*background: #ff3019; /* Old browsers */
/*background-image:url(../images/ad_inventory_bg.png);*/
}
#ipadWrap { padding: 50px 0 50px; }
#ipad { left:41.423em; background: url(../images/ipad.png) no-repeat; background-position:top right; width: 650px; height: 828px; margin: 0; padding-top: 84px; position:relative;}
#ipadScreen { width: 510px; height: 648px; margin: 0 auto; overflow: hidden; }
#ipadScreen div { position: relative; }
#ipadScreen a { position: absolute; }
#ipadScreen a:hover { box-shadow: 0px 0px 10px #fcff00; }
/*#homeScreen a .zoom { background: url(../images/zoom-ico.gif); display: block; width: 30px; height:30px; position: absolute; top: 0px; left: 0px; }*/
#homeScreen a .zoom{ 
display: block; width: 15px; height:15px; position: absolute; top: 5px; left: 5px; border: 3px solid #ffd458; background: #fff;
-webkit-border-radius: 3px; /* Saf3-4, iOS 1-3.2, Android =1.6 */
   -moz-border-radius: 3px; /* FF1-3.6 */
        border-radius: 3px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */ 
-webkit-box-shadow: 0px 0px 20px #ffffff; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
   -moz-box-shadow: 0px 0px 20px #ffffff; /* FF3.5 - 3.6 */
        box-shadow: 0px 0px 20px #ffffff; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
		display:none;
}
span.glowingIcon { 
display: block; width: 15px; height:15px; border: 3px solid #ffd458; background: #fff;margin:auto auto;
-webkit-border-radius: 3px; /* Saf3-4, iOS 1-3.2, Android =1.6 */
   -moz-border-radius: 3px; /* FF1-3.6 */
        border-radius: 3px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */ 
-webkit-box-shadow: 0px 0px 20px #ffffff; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
   -moz-box-shadow: 0px 0px 20px #ffffff; /* FF3.5 - 3.6 */
        box-shadow: 0px 0px 20px #ffffff; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}
div.glowingIcon{
width:28px;
height:26px;
background-image:url(../images/bannerIcon2.png);
background-repeat:no-repeat;
}
#homeScreen a .img { display: block; height: 100%; }
#contentWrap { width: 960px; padding: 0 30px; position: absolute; bottom: 0; left: 50%; margin-left: -480px; height: 150px; }
div.inline-content img { border: 1px solid #ddd;  }
table.title, table.specs {font-family:"proxima-nova"; font-weight:900; margin-top: 10px; }
table.title th { font-size: 24px; color: #1866a2; text-transform: uppercase; }
table.title td { font-size: 20px; color: #767474; }
table.specs th { font-size: 14px; color: #fff; background: #656d79; text-transform: uppercase; }
table.specs td { font-size: 14px; color: #656d79; text-transform: uppercase; }
table.specs td em { color: #6986a1; }



/**** PRICING PAGE */
#pricing-stage{
/*background-color:green;*/
font-family: "proxima-nova";
font-weight:900;
/*border:1px solid green;*/
color:#ffffff;
height: auto !important;
padding-bottom: 20px;
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32f0a6', endColorstr='#00bc85',GradientType=1 );  IE6-9 fallback on horizontal gradient */
}
#pricing-wrap { margin: 0 auto; width: 920px; }
#pricing-wrap h1 { margin: 0; padding: 60px 0 30px 0; }
#pricing-table { padding: 10px; background: #3587a7; }
#pricing-table .option { position: relative; padding: 10px 0 0 0; }
#pricing-table .option .info { overflow: hidden; background: #fff; color: #555; padding-right: 3px; position: relative; z-index: 2; }
#pricing-table .option .title { line-height: 40px; background-color: #f0a726; font-size: 24px; text-indent: 20px; text-transform: uppercase; color: #fff; }

#pricing-table .option .title .price { display: block; background-color: #ececec; width: 160px; position: relative; margin-right: -3px; float: right; text-align: right; padding-right: 10px; color: #6b6b6b; }

#pricing-table .option .bg { display: none; }
#pricing-table .option .desc { width: 75%; padding: 20px; float: left; }
#pricing-table .option .buy { width: 15%; float: right; text-align: center; padding: 30px 20px; }
#pricing-table .option .specs { background: #ececec; padding: 10px 20px; float: left; clear: both; }

#pricing-table #opt-one.option { padding: 0;}

/*#pricing-table #opt-one.option .info { width: 870px; }
#pricing-table #opt-one.option .bg { width: 50px; }

#pricing-table #opt-two.option .info { width: 876px; }
#pricing-table #opt-two.option .bg { width: 44px; }

#pricing-table #opt-three.option .info { width: 882px; }
#pricing-table #opt-three.option .bg { width: 38px; }

#pricing-table #opt-four.option .info { width: 888px; }
#pricing-table #opt-four.option .bg { width: 32px; }

#pricing-table #opt-five.option .info { width: 894px; }
#pricing-table #opt-five.option .bg { width: 26px; }

#pricing-table #opt-six.option .info { width: 900px; }

#pricing-table #opt-six.option .bg { width: 20px; }
*/

/**** CONTACT PAGE */ /*Radial gradient : inner = #e0a739, outer = #b2790b */
#contact-stage{
/*background-color:blue;*/
/*border:1px solid blue;*/
padding-bottom: 20px;
color:#ffffff;
}

#contactHeaderMain{
position: absolute;
height: 197px;
top: 100px;
left: 70px;
}
#contactHeaderOrange{
position: absolute;
top: 0px;
left: 0px;
background-color: #f0a726;
width: 456px;
height: 162px;
}
.contact-orange-triangle{
position: absolute;
top: 162px;
left: 250px;
}
#contactInfo{
background: url(../images/contactInfoBg.png);
padding: 30px;
position: absolute;
top: 330px;
left: 230px;
width: 500px;
height: 130px;
}
#contactInfoLeft{
position: absolute;
left: 30px;
top: 30px;
width: 391px;
}
.contact-info, contact-p{
margin: 0px;
padding: 0px;
}
#contactInfo p a{
color: #ff5e355;
font-family: "proxima-nova";
font-weight: 300;
}
.contact-sub-text-left{
float: left;
clear: both;
}
#contactInfo h2, #contactInfo p{
font-family: "proxima-nova";
}
#contactInfo h2{
font-size: 24pt;
font-weight: bold;
}
#contactInfo p{
font-size: 18pt;
color:#f5e355;
}
.contact-header{font-family:KnockoutHTF26JuniorFlyweighRg; font-size:10em; PADDING:none; margin: 0px; position:absolute; display: inline; left:30px; font-weight:500;}
.contact-header-sub{font-family:KnockoutHTF26JuniorFlyweighRg;color: #898989; font-size:4.7em; PADDING:none; margin: 0px; position:absolute; display: inline;left:270px; top:32px;line-height:.75em; font-weight:500;}
#contact-wrap { position: relative; margin:auto; width: 919px; height: 800px;}
#contact-wrap h1 { margin: 0; padding: 0 0 0 0; text-align: center; }
#contact-left p, #contact-right p { font-family: "proxima-nova"; font-size: 22px; color: #f5e355; }
#contact-left h2, #contact-right h2 { margin: 0 0 10px 0; font-size: 30px; color: #fff; }
#contact-wrap a, html #contact-wrap .gc-cs-link { color: #ffef8e !important; text-decoration: underline; font-weight: bold; }

/* ==|== non-semantic helper classes ========================================
Please define your styles before this section.
========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
PLACEHOLDER Media Queries for Responsive Design.
These override the primary ('mobile first') styles
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== print styles =======================================================
Print styles.
Inlined to avoid required HTTP connection: h5bp.com/r
========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}